.main-title
	position: relative
	background-color: $color--important

	&.js-loaded
    	&:before, &:after
    		width: 100%
    		transition: width 3s

	&:before, &:after
		content: ""
		position: absolute
		top: 0
		width: 0
		height: 100%
		background: $color--important
		opacity: 0.5
		width: 0

		+r($screen-lg)
			display: none

	&:before
		right: 100%
		margin-right: 10px

	&:after
		left: 100%
		margin-left: 10px

	&__text
		padding: 14px 5px 14px 18px
		+bebas-font
		line-height: 1.33
		font-size: 24px
		font-weight: 500
		text-transform: uppercase
		color: #ffffff

.header-page
	overflow: hidden

	&__container
		+r($screen-lg)
			padding: 0

	&__wrap
		display: flex
		flex-wrap: wrap
		align-items: center
		padding: 20px 0
		text-align: left

		+r(959)
			position: fixed
			left: 0
			top: 0
			height: 60px
			z-index: 9999
			padding: 10px
			width: 100%
			background: #fff
			box-shadow: 0 2px 7px 0px rgba(0,0,0,.2)

	&__logo
		flex-shrink: 0
		margin-right: 10px

	&__nav
		margin-left: auto

	&__title
		margin-bottom: 25px

.logo
	display: block

	&__pic
		max-width: 100%

.main-nav
	+r(959)
		// display: none
		position: fixed
		top: 0
		left: 0
		z-index: 100
		width: 100%
		height: 100%
		font-size: 1rem
		opacity: 0
		transition: opacity 6s

		&.is-open
			opacity: 1
			transition: background 3s, opacity 1s

			.main-nav__item
				transform: translateY(0)
				opacity: 1

	&__list
		display: flex
		flex-wrap: wrap

		+r(959)
			position: absolute
			display: flex
			flex-direction: column
			justify-content: space-between
			height: 100%
			width: 100%

	&__item
		padding-top: 5px

		+r(959)
			position: relative
			display: flex
			flex-grow: 1
			align-items: center
			width: 100%
			background: #222
			color: #fff
			text-align: center
			border-bottom: 1px solid #796868
			transform: translateY(300%)
			opacity: 0

		&:last-child .main-nav__link
			padding-right: 0

	&__link
		display: block
		padding: 5px 14px
		+bebas-font
		font-size: 16px
		line-height: 1.5
		color: $text-color--menu
		text-decoration: none
		transition: color $anim

		&.is-active
			color: $color--important

		&:hover
			color: $color--important

		+r(959)
			flex-grow: 1
			font-size: 2.5em

		+r(767)
			font-size: 2em

		+r(480)
			font-size: 1.5em


@for $i from 1 through 5
	.main-nav .main-nav__item:nth-child(#{$i})
		transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) (0.2s*$i), opacity 0.5s linear (0.2s*$i)

@for $i from 1 through 5
	.main-nav.is-open .main-nav__item:nth-child(#{$i})
		transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) (0.1s*$i), opacity 0.5s linear (0.1s*$i)

.main
	&__wrap
		display: flex

		+r($screen-lg)
			flex-wrap: wrap
    		flex-direction: column

	&__content
		width: calc(100% - 230px)
		flex-grow: 1
		padding-right: 40px

		+r($screen-lg)
			width: 100%
			padding-right: 0

	&__posts
		margin-bottom: 46px
		padding-bottom: 44px

		&:first-child
			.article__media
				margin-top: 0



		+r($screen-lg)
			padding-bottom: 25px

	&__aside
		width: 230px

		+r($screen-lg)
			width: 100%
			margin-top: 20px

.aside
	padding-left: 11px
	color: $text-color--dark

	+r($screen-lg)
		padding-left: 0

	&__title
		margin-bottom: 19px

	&__sect
		margin-bottom: 36px

		&:last-child
			margin-bottom: 0

	&__descr
		a
			color: $color--important

.title-sect
	position: relative
	display: flex
	padding-top: 2px
	text-transform: uppercase
	+bebas-font
	font-size: 14px
	line-height: 1
	font-weight: normal
	color: $color--important
	text-decoration: none
	user-select: none

	&:after
		content: ""
		flex: 1
		margin-left: 19px
		background: url(../img/pattern.png) 0 0

.slider
	position: relative
	overflow: hidden

	&__next,&__prev
		position: absolute
		top: 50%
		left: 20px
		z-index: 99
		margin-top: -27px
		font-size: 54px
		cursor: pointer

	&__next
		top: 46%
		left: auto
		right: 20px
		transform: rotate(-180deg)

.slide
	position: relative
	height: 0
	overflow: hidden
	padding-bottom: 44.8%

	&__title
		margin-bottom: 16px
		+bebas-font
		font-size: 18px
		color: #ffffff
		text-decoration: none
		text-transform: uppercase

	p
		font-size: 12px
		line-height: 1.4
		color: #ffffff

.article
	position: relative

	&::after
		content: ""
		position: absolute
		left: 0
		bottom: 0
		width: 98.6%
		height: 13px
		background: url(../img/pattern.png) 0 0

	&__decor
		+r($screen-lg)
			margin-bottom: 10px
			background-color: rgba($color--important-light, 0.5)

	&__icon
		position: absolute
		right: 100%
		top: 0
		width: 75px
		height: 75px
		margin-right: 10px
		background: $color--important
		background-image: url(../img/logo.png)
		background-position: center
		background-repeat: no-repeat

		+r(1115)
			position: relative
			right: auto
			display: block

	&__media
		margin-top: 55px
		margin-bottom: 17px

	&__link
		display: block
		margin-top: 3px
		margin-bottom: 19px

		&--cite
			margin-bottom: 5px


	&__detail
		display: flex

		+r($screen-lg)
			flex-wrap: wrap

	&__info
		width: 22%
		padding-right: 15px

		+r($screen-lg)
			width: 100%
			padding-right: 0
			order: 1

	&__descr
		width: 78%

		+r($screen-lg)
			width: 100%

		&--full
			width: 100%

	&__text
		p
			margin-bottom: 17px

	&__text
		font-size: 12px
		line-height: 1.5
		padding-right: 12px

		a
			color: $color--important


	&__cite
		display: block
		margin-bottom: 19px
		font-size: 12px
		line-height: 1.5
		color: $text-color--light
		text-decoration: none

		&:hover
			text-decoration: underline

.title-info
	display: block
	color: $color--important
	text-decoration: none

	&:hover
		.title-info__text
			opacity: 0.5

	&__text
		+bebas-font
		font-size: 18px
		line-height: 1
		font-weight: 500
		text-transform: uppercase
		color: currentColor

.info-block
	&__title
		margin-bottom: 4px
		+bebas-font
		font-size: 12px
		line-height: 1.66
		color: $color--important
		text-transform: uppercase
		text-decoration: none

	&__descr
		display: block
		margin-bottom: 9px
		font-size: 12px
		line-height: 1.66
		color: $text-color--lighten

	&__tag
		position: relative
		padding-right: 15px
		color: $text-color--lighten
		text-decoration: none

		&_last-child
			padding-right: 0

		&:hover
			text-decoration: underline

.tag
	&__link
		display: inline-block

		&::before
			content: "|"
			position: absolute
			right: 6px
			bottom: 0

		&:last-child
			&::before
				display: none

.quote
	position: relative
	margin-bottom: 26px
	padding: 21px 15px 20px 76px
	background-color: $quote-bg
	background-image: url(../img/pattern-quote.png)

	&::before
		content: ""
		position: absolute
		left: 37px
		top: 16px
		width: 25px
		height: 20px
		background-image: url(../img/icon-quote.svg)
		background-position: center
		background-repeat: no-repeat

	&__text
		font-style: italic
		font-size: 13px
		line-height: 1.38
		color: $quote-color
		text-decoration: none

.pagination
	display: flex

	&__item
		height: 26px
		width: 26px
		margin-right: 4px
		text-align: center
		line-height: 30px
		text-transform: uppercase
		color: #ffffff
		background: $color--important-light

		&.is-active
			background: $color--important

	&__link
		font-size: 14px
		line-height: 26px
		color: #ffffff
		text-decoration: none


.thumbs
	overflow: hidden
	position: relative
	margin-right: -6px

	&__btn-wrap
		display: flex
		margin-bottom: 5px

	&__btn
		display: flex
		width: 24px
		margin-right: 4px
		padding: 5px
		background-color: $color--important
		cursor: pointer

		&.slick-disabled
			opacity: 0.5

		.icon-arrow
			width: 100%

		&--next
			transform: rotate(-180deg)

	&__list
		display: flex
		position: relative
		flex-wrap: wrap
		width: 100%

	&__link
		display: block
		margin-right: 6px
		margin-bottom: 3px
		border: 1px solid $color--important
		transition: opacity $anim

		img
			width: 100%
			height: 100%
			object-fit: cover

		&[href]:hover
			border-color: #f3af9d
			opacity: 0.8

.categories
	&__link
		display: block
		color: $text-color--dark
		text-decoration: none
		transition: transform $anim

		&:hover
			text-decoration: underline
			transform: translateX(2%)

.video-responsive
	padding: 0
	padding-bottom: 45%
	position: relative
	display: block
	height: 0
	overflow: hidden

	&__iframe
		position: absolute
		top: 0
		bottom: 0
		left: 0
		width: 100%
		height: 100%
		border: 0

.footer-page
	padding: 20px

.js-animated
	+rmin(960)
		transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, opacity 0.8s linear 0.1s
		transform: translate3d(0px, 80px, 0)
		opacity: 0

		&.appeared
			transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1)
			opacity: 1

.nav-trigger
	display: none
	position: fixed
	width: 36px
	height: 36px
	right: 0px
	top: 0px
	z-index: 200
	margin: 5px 10px 5px
	color: $color--important
	cursor: pointer

	+r(959)
		display: block

	&.is-active

		.nav-trigger__line
			background-color: transparent

			&::before
				transform: translateY(0) rotate(45deg)

			&::after
				transform: translateY(0) rotate(-45deg)

	&__line
		content: ""
		position: absolute
		right: 0
		top: 0
		bottom: 0
		left: 0
		margin: auto
		height: 3px
		width: 100%
		background-color: currentColor
		transition: transform $anim, opacity $anim

		&::before, &::after
			content: ""
			position: absolute
			right: 0
			top: 0
			bottom: 0
			left: 0
			margin: auto
			height: 3px
			width: 100%
			background-color: currentColor
			transition: transform $anim, opacity $anim

		&::before
			transform: translateY(-10px)

		&::after
			transform: translateY(10px)
