---
title: Blog
text_news_1:
              Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.

text_news_2:
              Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
---


{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<!-- begin main -->
<main class="main">
  <div class="container">
    <div class="main__wrap">
      <section class="main__content">

        <article class="main__posts  article">

          <!-- begin article__decor -->
          <div class="article__decor">
            <div class="article__icon" style="background-image: url(img/icon-photo.png);"></div>
          </div>
          <!-- end article__decor -->

          <!-- begin slider -->
          <div class="article__media  slider">
            <div class="slider__next">{{mixins.icon('arrow')}}</div>
            <div class="slider__prev">{{mixins.icon('arrow')}}</div>
            <div class="slider__slides js-hero">

              <a class="slider__slide slide" href="#" style="background: url(img/slide.jpg) center center / cover">
              </a>

              <a class="slider__slide slide" href="#" style="background: url(img/slide.jpg) center center / cover">
              </a>

              <a class="slider__slide slide" href="#"  style="background: url(img/slide.jpg) center center / cover">
              </a>

            </div>
          </div>
          <!-- end slider -->

          <!-- begin article__descr -->
          <div class="article__detail  js-animated">

            <dl class="article__info  info-block">
              <dt class="info-block__title">Date</dt>
              <dd class="info-block__descr">
                <time class="info-block__time" datetime="2015-04-15">April 15, 2012</time>
              </dd>

              <dt class="info-block__title">Tags</dt>

                <dd class="info-block__descr  tag">
                  <a class="info-block__tag  tag__link" href="#">Website</a>
                  <a class="info-block__tag  tag__link" href="#">Design</a>
                </dd>

              <dt class="info-block__title">Comments</dt>
                <dd class="info-block__descr">4</dd>
            </dl>

            <div class="article__descr">
              <a class="article__link  title-info" href="#">
                <h3 class="title-info__text">
                  Top  WordPress  Themes  of  2012
                </h3>
              </a>

              <div class="article__text">
                <p>{{text_news_1}}</p>
                <p>{{text_news_2}}</p>
              </div>

            </div>

          </div>
          <!-- end article__descr -->
        </article>

        <article class="main__posts  article">

          <!-- begin article__decor -->
          <div class="article__decor">
            <div class="article__icon" style="background-image: url(img/icon-news.png);"></div>
          </div>
          <!-- end article__decor -->

          <!-- begin video -->
          <div class="article__media">
            <a href="#" class="news-img">
              <img src="img/news.jpg" width="670" height="300" alt="Jesus  Typography  Wallpaper  Giveaway!">
            </a>
          </div>
          <!-- end video -->

          <!-- begin article__detail -->
          <div class="article__detail  js-animated">

            <dl class="article__info  info-block">
              <dt class="info-block__title">Date</dt>
              <dd class="info-block__descr">
                <time class="info-block__time" datetime="2015-04-15">April 15, 2012</time>
              </dd>

              <dt class="info-block__title">Tags</dt>

                <dd class="info-block__descr  tag">
                  <a class="info-block__tag  tag__link" href="#">Website</a>
                  <a class="info-block__tag  tag__link" href="#">Design</a>
                </dd>

              <dt class="info-block__title">Comments</dt>
                <dd class="info-block__descr">4</dd>
            </dl>

            <div class="article__descr">
              <a class="article__link  title-info" href="#">
                <h3 class="title-info__text">
                  Jesus  Typography  Wallpaper  Giveaway!
                </h3>
              </a>

              <div class="article__text">
                <p>{{text_news_1}}</p>
                <p>{{text_news_2}}</p>
              </div>

            </div>

          </div>
          <!-- end article__detail -->
        </article>

        <article class="main__posts  article">

          <!-- begin article__decor -->
          <div class="article__decor">
            <div class="article__icon" style="background-image: url(img/icon-video.svg);"></div>
          </div>
          <!-- end article__decor -->

          <!-- begin video-responsive -->
          <div class="article__media  video-responsive">
            <iframe  class="video-responsive__iframe" src="https://player.vimeo.com/video/798022" allowfullscreen frameborder="0"  width="670" height="300"></iframe>
          </div>
          <!-- end video-responsive -->

          <!-- begin article__descr -->
          <div class="article__detail  js-animated">

            <dl class="article__info  info-block">
              <dt class="info-block__title">Date</dt>
              <dd class="info-block__descr">
                <time class="info-block__time" datetime="2015-04-15">April 15, 2012</time>
              </dd>

              <dt class="info-block__title">Tags</dt>

                <dd class="info-block__descr  tag">
                  <a class="info-block__tag  tag__link" href="#">Website</a>
                  <a class="info-block__tag  tag__link" href="#">Design</a>
                </dd>

              <dt class="info-block__title">Comments</dt>
                <dd class="info-block__descr">4</dd>
            </dl>

            <div class="article__descr">

              <a class="article__link  title-info" href="#">
                <h3 class="title-info__text">
                  Big  Buck  Bunny  Trailer
                </h3>
              </a>

              <div class="article__text">
                <p>{{text_news_1}}</p>
                <p>{{text_news_2}}</p>
              </div>

            </div>

          </div>
          <!-- end article__descr -->
        </article>

        <article class="main__posts  article  js-animated">

          <!-- begin article__decor -->
          <div class="article__decor">
            <div class="article__icon" style="background-image: url(img/icon-quote-white.svg);"></div>
          </div>
          <!-- end article__decor -->

          <h3 class="visually-hidden">Write anything you want here in this quotable area</h3>

            <!-- begin quote -->
            <blockquote class="quote">
              <a class="quote__text" href="#">
              Write anything you want here in this quotable area. Something unique you want people to learn
              about your website or some cool random fact. Its totally up to you.
              </a>
            </blockquote>
            <!-- end quote -->

        </article>

        <article class="main__posts  article  js-animated">

          <!-- begin article__decor -->
          <div class="article__decor">
            <div class="article__icon" style="background-image: url(img/icon-link.png);"></div>
          </div>
          <!-- end article__decor -->

          <div class="article__descr  article__descr--full">

            <a class="article__link  article__link--cite  title-info" href="#">
              <h3 class="title-info__text">
                Some  of  the  best  freebies  on  the  web
              </h3>
            </a>

            <a href="http://www.asimovonline.com" class="article__cite" target="_blank">
              <cite>www.bestpsdfreebies.com</cite>
            </a>

            <div class="article__text">
                <p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.</p>
            </div>

          </div>
        </article>

        <ul class="pagination">
          <li class="pagination__item  is-active">
            <a href="" class="pagination__link">1</a>
          </li>
          <li class="pagination__item">
            <a href="" class="pagination__link">2</a>
          </li>
          <li class="pagination__item">
            <a href="" class="pagination__link">3</a>
          </li>
        </ul>

        <h2 class="visually-hidden">Blog Posts</h2>

      </section>

       {% include "partials/_aside.html" %}

    </div>
  </div>
</main>
<!-- end main -->

<!-- begin footer-page -->
<div class="footer-page">

</div>
<!-- end footer-page -->

{% endblock %}
