<aside class="main__aside  aside">
  <section class="aside__sect  js-animated">
    <h2 class="aside__title  title-sect">AbouT  Jetro</h2>
    <div class="aside__descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum.
    </div>
  </section>

  <section class="aside__sect  js-animated">
    <h2 class="aside__title  title-sect">Categories</h2>

    <ul class="categories">
      <li class="categories__item"><a href="#" class="categories__link">Video (3)</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Sports (5)</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Media (2)</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Entertainment (7)</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Life (4)</a></li>
      <li class="categories__item"><a href="#" class="categories__link">Super Cool Stuff (8)</a></li>
    </ul>

  </section>

  <section class="aside__sect  js-animated">

    <h2 class="aside__title  title-sect">Photo  Gallery</h2>

    <div class="thumbs">

      <div class="thumbs__btn-wrap">
        <div class="thumbs__btn  thumbs__btn--prev">{{mixins.icon('arrow')}}</div>
        <div class="thumbs__btn  thumbs__btn--next">{{mixins.icon('arrow')}}</div>
      </div>

      <ul class="thumbs__list">

        <li class="thumbs__item">
          <a class="thumbs__link  js-popup" href="img/gallery/thumbs_1_big.jpg" title="thumbs" >
            <img src="img/gallery/thumbs_1.jpg" width="50" height="50" alt="thumbs">
          </a>
        </li>
        <li class="thumbs__item">
          <a class="thumbs__link  js-popup" href="img/gallery/thumbs_2_big.jpg" title="thumbs" >
            <img src="img/gallery/thumbs_2.jpg" width="50" height="50" alt="thumbs">
          </a>
        </li>
        <li class="thumbs__item">
          <a class="thumbs__link  js-popup" href="img/gallery/thumbs_1_big.jpg" title="thumbs" >
            <img src="img/gallery/thumbs_1.jpg" width="50" height="50" alt="thumbs">
          </a>
        </li>
        <li class="thumbs__item">
          <a class="thumbs__link  js-popup" href="img/gallery/thumbs_2_big.jpg" title="thumbs" >
            <img src="img/gallery/thumbs_2.jpg" width="50" height="50" alt="thumbs">
          </a>
        </li>

        <li class="thumbs__item">
          <a class="thumbs__link  js-popup" href="img/gallery/thumbs_2_big.jpg" title="thumbs" >
            <img src="img/gallery/thumbs_2.jpg" width="50" height="50" alt="thumbs">
          </a>
        </li>
        <li class="thumbs__item">
          <a class="thumbs__link  js-popup" href="img/gallery/thumbs_1_big.jpg" title="thumbs" >
            <img src="img/gallery/thumbs_1.jpg" width="50" height="50" alt="thumbs">
          </a>
        </li>
        <li class="thumbs__item">
          <a class="thumbs__link  js-popup" href="img/gallery/thumbs_2_big.jpg" title="thumbs" >
            <img src="img/gallery/thumbs_2.jpg" width="50" height="50" alt="thumbs">
          </a>
        </li>
        <li class="thumbs__item">
          <a class="thumbs__link  js-popup" href="img/gallery/thumbs_1_big.jpg" title="thumbs" >
            <img src="img/gallery/thumbs_1.jpg" width="50" height="50" alt="thumbs">
          </a>
        </li>

        <li class="thumbs__item">
          <a class="thumbs__link  js-popup" href="img/gallery/thumbs_1_big.jpg" title="thumbs" >
            <img src="img/gallery/thumbs_1.jpg" width="50" height="50" alt="thumbs">
          </a>
        </li>
        <li class="thumbs__item">
          <a class="thumbs__link  js-popup" href="img/gallery/thumbs_1_big.jpg" title="thumbs" >
            <img src="img/gallery/thumbs_1.jpg" width="50" height="50" alt="thumbs">
          </a>
        </li>
        <li class="thumbs__item">
          <a class="thumbs__link  js-popup" href="img/gallery/thumbs_1_big.jpg" title="thumbs" >
            <img src="img/gallery/thumbs_1.jpg" width="50" height="50" alt="thumbs">
          </a>
        </li>

        <li class="thumbs__item">
          <a class="thumbs__link">
            <img src="img/gallery.jpg" width="50" height="50">
          </a>
        </li>
         <li class="thumbs__item">
          <a class="thumbs__link">
             <img src="img/gallery.jpg" width="50" height="50">
          </a>
        </li>
         <li class="thumbs__item">
          <a class="thumbs__link">
             <img src="img/gallery.jpg" width="50" height="50">
          </a>
        </li>
         <li class="thumbs__item">
          <a class="thumbs__link">
             <img src="img/gallery.jpg" width="50" height="50">
          </a>
        </li>
        <li class="thumbs__item">
          <a class="thumbs__link">
             <img src="img/gallery.jpg" width="50" height="50">
          </a>
        </li>
      </ul>

    </div>
  </section>
</aside>
