{% set categories = [
    { title: "Video", count: "3" },
    { title: "Sports", count: "5" },
    { title: "Media", count: "2" },
    { title: "Entertainment", count: "7" },
    { title: "Life", count: "4" },
    { title: "Super Cool Stuff", count: "8" }
  ]
%}


{% set photo_gallery = [
    {
      img_min: "img/gallery/thumbs_1.jpg",
      img: "img/gallery/thumbs_1_big.jpg",
      title: "thumbs 1"
    },
    {
      img_min: "img/gallery/thumbs_2.jpg",
      img: "img/gallery/thumbs_2_big.jpg",
      title: "thumbs 2"
    },
    {
      img_min: "img/gallery/thumbs_1.jpg",
      img: "img/gallery/thumbs_1_big.jpg",
      title: "thumbs 3"
    },
    {
      img_min: "img/gallery/thumbs_2.jpg",
      img: "img/gallery/thumbs_2_big.jpg",
      title: "thumbs 4"
    },
    {
      img_min: "img/gallery/thumbs_2.jpg",
      img: "img/gallery/thumbs_2_big.jpg",
      title: "thumbs 5"
    },
    {
      img_min: "img/gallery/thumbs_1.jpg",
      img: "img/gallery/thumbs_1_big.jpg",
      title: "thumbs 6"
    },
    {
      img_min: "img/gallery/thumbs_2.jpg",
      img: "img/gallery/thumbs_2_big.jpg",
      title: "thumbs 7"
    },
    {
      img_min: "img/gallery/thumbs_1.jpg",
      img: "img/gallery/thumbs_1_big.jpg",
      title: "thumbs 8"
    },
    {
      img_min: "img/gallery/thumbs_1.jpg",
      img: "img/gallery/thumbs_1_big.jpg",
      title: "thumbs 9"
    },
    {
      img_min: "img/gallery/thumbs_1.jpg",
      img: "img/gallery/thumbs_1_big.jpg",
      title: "thumbs 10"
    },
    {
      img_min: "img/gallery/thumbs_1.jpg",
      img: "img/gallery/thumbs_1_big.jpg",
      title: "thumbs 11"
    },
    {
      no_img: "img/gallery.jpg",
      title: "thumbs 12"
    },
    {
      no_img: "img/gallery.jpg",
      title: "no image"
    },
    {
      no_img: "img/gallery.jpg",
      title: "no image"
    },
    {
      no_img: "img/gallery.jpg",
      title: "no image"
    },
    {
      no_img: "img/gallery.jpg",
      title: "no image"
    }

  ]
%}


<aside class="main__aside  aside">
  <section class="aside__sect  js-animated">
    <h2 class="aside__title  title-sect">AbouT  Jetro</h2>
    <div class="aside__descr">
      {{text_about}}
    </div>
  </section>

  <section class="aside__sect  js-animated">
    <h2 class="aside__title  title-sect">Categories</h2>

    <ul class="categories">

      {% for categ in categories %}
        <li class="categories__item"><a href="#" class="categories__link">{{categ.title}} ({{categ.count}})</a></li>
      {% endfor %}

    </ul>

  </section>

  <section class="aside__sect  js-animated">

    <h2 class="aside__title  title-sect">Photo  Gallery</h2>

    <div class="thumbs">

      <div class="thumbs__btn-wrap">
        <div class="thumbs__btn  thumbs__btn--prev">{{mixins.icon('arrow')}}</div>
        <div class="thumbs__btn  thumbs__btn--next">{{mixins.icon('arrow')}}</div>
      </div>

      <ul class="thumbs__list">

        {% for photo in photo_gallery %}
          <li class="thumbs__item">

          {% if photo.img %}
            <a class="thumbs__link  js-popup" href="{{photo.img}}" title="{{photo.title}}" >
              <img src="{{photo.img_min}}" width="50" height="50" alt="{{photo.title}}">
            </a>
          {% endif %}

          {% if photo.no_img %}
             <a class="thumbs__link">
             <img src="{{photo.no_img}}" width="50" height="50"  alt="{{photo.title}}">
          </a>
          {% endif %}

        </li>
        {% endfor %}

      </ul>

    </div>
  </section>
</aside>
