

<!-- begin header-page -->
<header class="header-page">
  <div class="container  header-page__container">

    <div class="header-page__wrap">

      <a class="header-page__logo  logo" href="#">
        <img class="logo__pic" width="87" height="34" src="img/logo.png" alt="Logo JETRO">
      </a>

      <div id="nav-trigger" class="nav-trigger">
        <span class="nav-trigger__line"></span>
      </div>

      <nav class="header-page__nav  main-nav" id="nav">
        <ul class="main-nav__list">
          <li class="main-nav__item"><a class="main-nav__link" href="#">HOME</a></li>
          <li class="main-nav__item"><a class="main-nav__link" href="#">ABOUT US</a></li>
          <li class="main-nav__item"><a class="main-nav__link  is-active" href="#">BLOG</a></li>
          <li class="main-nav__item"><a class="main-nav__link" href="#">Portfolio</a></li>
          <li class="main-nav__item"><a class="main-nav__link" href="#">CONTACT US</a></li>
        </ul>
      </nav>
    </div>

    {% include "partials/_header-title.html" %}

  </div>
</header>
<!-- end header-page -->
